@font-face {
  font-family: "monserrat Regular";
  /*para otf opentype ttf truetype y woff se pone woff*/
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "monserrat Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "monserrat Light";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "monserrat extraLight";
  src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
.containerSkills, .containerCeo {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  background-color: #c4bdb5;
  margin-top: 10px;
}
footer ul {
  list-style: none;
  padding-left: 0px !important;
}
footer ul a {
  text-decoration: none;
  font-family: "monserrat Light";
  color: white;
}

.redes {
  grid-area: redes;
  margin-top: 10px;
}

.oficina {
  grid-area: oficina;
  margin-top: 10px;
  color: white;
}

.newsletter {
  grid-area: news;
  display: flex;
  align-items: center;
}

.photo-grid-item-redes {
  width: 30px;
  height: auto;
  margin: 10px 10px;
  grid-area: redes;
}

.gridFooter {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  row-gap: 20px;
  column-gap: 10px;
  grid-template-areas: ". redes  news news oficina ." ". redes . . oficina .";
}

ul .socialNet {
  display: flex;
  margin: 10px 10px 0px 0px;
}
ul .socialNet li {
  margin: 10px 0px;
}

.containerSkills, .containerCeo {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 400px) {
  .newsletter {
    display: none;
  }

  .maps {
    display: none;
    text-align: center;
  }

  .gridFooter {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .containerSkills {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  .redes {
    grid-area: redes;
    margin-top: 10px;
  }
  .redes ul {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) and (min-width: 401px) {
  .gridFooter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    row-gap: 20px;
    column-gap: 10px;
    grid-template-areas: "news" "redes" "oficina";
  }

  .maps {
    display: none;
    text-align: center;
  }

  .redes {
    grid-area: redes;
    margin-top: 10px;
  }
  .redes ul {
    display: flex;
  }
}
@media only screen and (max-width: 990px) {
  .containerSkills,
.containerCeo {
    flex-wrap: wrap;
  }
}
.avatar {
  border-radius: 75px;
  border-width: 2px;
  border-style: solid;
  border-color: #24492e;
}

nav a {
  color: white !important;
  font-family: "monserrat Bold";
  font-display: swap;
  font-size: 20px;
  text-decoration: none;
}
nav .fran {
  background-color: #416475;
}

.devIcons {
  width: 100px;
  display: flex;
  align-items: center;
}

.centrado {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header {
  margin: 10px 10px;
}

.quienSoy {
  background-color: #c4bdb5;
  color: white;
  font-family: "monserrat Bold";
  font-display: swap;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textoYo {
  color: #4b6055;
  font-family: "monserrat Light";
  font-display: swap;
  text-align: justify;
}

.containerSkills {
  flex-direction: column;
}

.centerYo {
  margin-left: 15px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  display: flex;
  align-items: center;
  /*con esta propiedad se baja automaticamente cuando llega al maximo de ancho*/
  flex-wrap: wrap;
  justify-content: center;
}

.photo-grid-item img {
  width: 120px;
  height: auto;
  margin: 10px 10px;
}

.servicios {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  row-gap: 20px;
  column-gap: 10px;
  grid-template-areas: ". responsive . . .";
}

.productos img {
  width: 300px;
}

.responsive {
  grid-area: responsive;
}

.square2 {
  transition: all 0.2s;
}
.square2:hover {
  /* transform: translate(20px, 20px); */
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
  /* transform: scale(1.5); */
}

.centrado {
  margin-left: auto !important;
  margin-right: auto !important;
}

/*
para la pagina de 404 error


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-display: swap;
  font-weight: 800;
  margin: 20px 15px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #FFB485;
}
.error-container > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.error-container > span:nth-of-type(1) {
  color: #D1F2A5;
  animation: colordancing 4s infinite;
}
.error-container > span:nth-of-type(3) {
  color: #F56991;
  animation: colordancing2 4s infinite;
}
.error-container > span:nth-of-type(2) {
  width: 120px;
  height: 120px;
  border-radius: 999px;
}
.error-container > span:nth-of-type(2):before,
.error-container > span:nth-of-type(2):after {
	border-radius: 0%;
	content:"";
	position: absolute;
	top: 0; left: 0;
	width: inherit; height: inherit;
  border-radius: 999px;
	box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  animation: shadowsdancing 4s infinite;
}
.error-container > span:nth-of-type(2):before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
			transform: rotate(45deg);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
@keyframes shadowsdancing {
  0% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
  25% {
    box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4),
				inset 0 30px 0 rgba(209, 242, 165, 0.4),
				inset -30px 0 0 rgba(239, 250, 180, 0.4),	
				inset 0 -30px 0 rgba(255, 196, 140, 0.4);
  }
  50% {
     box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4),
				inset 0 30px 0 rgba(245, 105, 145, 0.4),
				inset -30px 0 0 rgba(209, 242, 165, 0.4),	
				inset 0 -30px 0 rgba(239, 250, 180, 0.4);
  }
  75% {
   box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4),
				inset 0 30px 0 rgba(255, 196, 140, 0.4),
				inset -30px 0 0 rgba(245, 105, 145, 0.4),	
				inset 0 -30px 0 rgba(209, 242, 165, 0.4);
  }
  100% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
}
@keyframes colordancing {
  0% {
    color: #D1F2A5;
  }
  25% {
    color: #F56991;
  }
  50% {
    color: #FFC48C;
  }
  75% {
    color: #EFFAB4;
  }
  100% {
    color: #D1F2A5;
  }
}
@keyframes colordancing2 {
  0% {
    color: #FFC48C;
  }
  25% {
    color: #EFFAB4;
  }
  50% {
    color: #D1F2A5;
  }
  75% {
    color: #F56991;
  }
  100% {
    color: #FFC48C;
  }
}

/* demo 
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {

  margin-bottom: 50px;
}

h1 {
  text-align: center;
  margin: 30px 15px;
}
.zoom-area { 
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}
.link-container {
  text-align: center;
}
a.more-link {
  text-transform: uppercase;
  font-size: 13px;
    background-color: #92a4ad;
    padding: 10px 15px;
    border-radius: 0;
    color: #416475;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}

*/

/*# sourceMappingURL=style.css.map */
