@font-face {
  font-family: "monserrat Regular";
  /*para otf opentype ttf truetype y woff se pone woff*/
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "monserrat Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "monserrat Light";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "monserrat extraLight";
  src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-display: swap;
}
.portfolio, .error-container, .inicio, .error404, .a404, .photo-grid, .containerSkills, .containerCeo, .quienSoy, .backgroundHover, .devIcons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  background-color: #c4bdb5;
  margin-top: 10px;
}
footer ul {
  list-style: none;
  padding-left: 0px !important;
}
footer ul a {
  text-decoration: none;
  font-family: "monserrat Light";
  color: white;
}

.redes {
  grid-area: redes;
  margin-top: 10px;
}

.oficina {
  grid-area: oficina;
  margin-top: 10px;
  color: white;
}

.newsletter {
  grid-area: newsletter;
  display: flex;
  align-items: center;
}

.photo-grid-item-redes {
  width: 30px;
  height: auto;
  margin: 10px 10px;
  grid-area: redes;
}

.gridFooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*
  grid-template-rows: repeat(1, 1fr);
  */
  justify-items: center;
  row-gap: 20px;
  column-gap: 10px;
  grid-template-areas: ". redes newsletter .";
}

.socialNet {
  display: flex;
  margin: 10px 10px 10px 0px;
  flex-direction: row;
  align-items: center;
}

.portfolio, .error-container, .inicio, .error404, .a404, .photo-grid, .containerSkills, .containerCeo, .quienSoy, .backgroundHover, .devIcons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 400px) {
  .newsletter {
    display: none;
  }

  .maps {
    display: none;
    text-align: center;
  }

  .gridFooter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .containerSkills {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  .redes {
    grid-area: redes;
    margin-top: 10px;
  }
  .redes ul {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) and (min-width: 401px) {
  .gridFooter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    row-gap: 20px;
    column-gap: 10px;
    grid-template-areas: "redes newsletter";
  }

  .maps {
    display: none;
    text-align: center;
  }

  .redes {
    grid-area: redes;
    margin-top: 10px;
  }
  .redes ul {
    display: flex;
  }
}
@media only screen and (max-width: 990px) {
  .containerSkills,
.containerCeo {
    flex-wrap: wrap;
  }
}
.avatar {
  border-radius: 75px;
  border-width: 2px;
  border-style: solid;
  border-color: #24492e;
}

nav a {
  color: white !important;
  font-family: "monserrat Bold";
  font-display: swap;
  font-size: 20px;
  text-decoration: none;
}
nav a:hover {
  color: #416475 !important;
}
nav .fran {
  background-color: #416475;
}

.devIcons {
  width: 100px;
}

.backgroundHover {
  padding: 10px;
  flex-direction: column;
}

.backgroundHover:hover {
  background-color: #4b6055;
  transition: all 0.4s ease 0s;
  border-radius: 20px;
  color: white;
}

.centrado {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header {
  margin: 10px 10px;
}

.quienSoy {
  background-color: #c4bdb5;
  color: #4c4c4c;
  font-family: "monserrat Bold";
  font-display: swap;
  flex-direction: column;
}

.textoYo {
  color: #28332d;
  font-family: "monserrat Regular";
  font-display: swap;
  text-align: justify;
}

.containerSkills {
  flex-direction: column;
}

.centerYo {
  margin-left: 15px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  /*con esta propiedad se baja automaticamente cuando llega al maximo de ancho*/
  flex-wrap: wrap;
  justify-content: center;
}

.photo-grid-item img {
  width: 120px;
  height: auto;
  margin: 10px 10px;
}

.servicios {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  row-gap: 20px;
  column-gap: 10px;
  grid-template-areas: ". responsive . . .";
}

.productos img {
  width: 300px;
}

.responsive {
  grid-area: responsive;
}

.square2 {
  transition: all 0.2s;
}
.square2 img {
  width: 70px;
}
.square2:hover {
  /* transform: translate(20px, 20px); */
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
  /* transform: scale(1.5); */
}

.centrado {
  margin-left: auto !important;
  margin-right: auto !important;
}

.a404 {
  color: #4b6055;
  font-family: "monserrat Bold";
  font-display: swap;
  flex-direction: column;
}

.error404 {
  width: 60%;
  flex-direction: column;
  justify-content: center;
}

.inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.error-container {
  flex-direction: column;
}

.servicio {
  text-align: center;
}
.servicio img {
  align-items: center;
}

.portfolio {
  justify-content: space-around;
}

.contacto {
  background-color: #4b6055 !important;
  border: #4b6055;
}

/*# sourceMappingURL=style.css.map */
