@import "base/colores";
@import "base/fuentes";
@import "base/extends";
@import "base/mixin";
@import "components/footer";
@import "base/query";


.avatar {
  border-radius: 75px;
  border-width: 2px;
  border-style: solid;
  border-color: nth($colores, 1);
}

nav {
  a {
    @include colorFuente(white !important);
    font-family:'monserrat Bold';
    font-display: swap;
    font-size: 20px;
    text-decoration: none;

    &:hover{
      color: #416475 !important;
    }

  }
  .fran{
    background-color: #416475;
  }
}

.devIcons{
  width: 100px;
  display: flex;
  align-items: center;
}
.backgroundHover{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.backgroundHover:hover{
  background-color: #4b6055;
  transition:all 0.4s ease 0s;
  border-radius: 20px;
  color: white;


}

.centrado {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header {
  margin: 10px 10px;
}

.quienSoy {
  background-color: #c4bdb5;
  @include colorFuente(white);
  font-family: 'monserrat Bold';
  font-display: swap;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textoYo {
  @include colorFuente(nth($colores, 2));
  font-family: 'monserrat Light';
  font-display: swap;
  text-align: justify;
}

.containerCeo {
  @extend %container;
}

.containerSkills {
  @extend %container;
  flex-direction: column;
}

.centerYo {
  margin-left: 15px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  display: flex;
  align-items: center;
  /*con esta propiedad se baja automaticamente cuando llega al maximo de ancho*/
  flex-wrap: wrap;
  justify-content: center;
}

.photo-grid-item {
  img {
    width: 120px;
    height: auto;
    margin: 10px 10px;
  }
}


.servicios {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  row-gap: 20px;
  column-gap: 10px;
  grid-template-areas: ". responsive . . .";
}

.productos {
  img {
    width: 300px;
  }
}

.responsive {
  grid-area: responsive;
}

.square2 {
  
  transition: all 0.2s;

  &:hover {
    /* transform: translate(20px, 20px); */
    @include prefijos(scale(1.5));

    /* transform: scale(1.5); */
  }
}

.centrado {
  margin-left: auto !important;
  margin-right: auto !important;
}

.a404{
  @include colorFuente(nth($colores, 2));
  font-family: 'monserrat Bold';
  font-display: swap;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.error404{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.inicio{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.error-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicio{
  text-align: center;
  img{
    align-items: center;
  }
}